


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #252726;
    height: 50px; 
  }
  
  li {
    margin: 0 10px; 
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
  }
  
  
  li a:hover {
    background-color: #309c52;
  }
  